body {
    background: #2d5651;
}

a {
    color: black;
    text-decoration: none;
}

#cointainAnnonce {
    width: 70%;
    background-color: #ECF8F6;
    border-radius: 20px;
    border: solid 1px black;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
}

.annonce {
    position: relative;
    width: 70%;
    height: 110px;
    background: white;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
}

.img {
    width: 70px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.titre {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

}

.offre {
    position: absolute;
    bottom: 10px;
    right: 0px;
    transform: translate(-50%, 0);
    width: 150px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #6cba9d;
}

#logo {
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
}